#search-container {

    width: 80%;
}

#search-input {

    width: 100%;
    height: 3rem;
    border-radius: 10px;
    outline: none;  
    border: none;
    padding: .8rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro',sans-serif;
    letter-spacing: .4px;
    font-weight: 500;
    
}
#search-input::placeholder {

    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
}

#search-input:focus {

    outline: none; 
}
